@page
@model StoreManagementRazor.Pages.Admin.Products.IndexModel
@{
}

<h2 class="text-center">Products</h2>
<div class="row mb-5">
    <div class="col">
        <a class="btn btn-primary" href="/Admin/Products/Create">New Product</a>
    </div>
    <div class="col">
    </div>
</div>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Brand</th>
        <th>Category</th>
        <th>Price</th>
        <th>Image</th>
        <th>Created At</th>
        <th>Action</th>
    </tr>
    @foreach (var product in Model.Products)
    {
        <tr>
            <td>@product.Id</td>
            <td>@product.Name</td>
            <td>@product.Brand</td>
            <td>@product.Category</td>
            <td>@product.Price</td>
            <td><img src="/products/@product.ImageFileName" width="100" /></td>
            <td>@product.CreatedAt.ToString("MM/dd/yyyy")</td>
            <td style="white-space:nowrap">
                <a class="btn btn-primary btn-sm" href="/Admin/Products/Edit?id=@product.Id">Edit</a>
                <a class="btn btn-danger btn-sm" href="/Admin/Products/Delete?id=@product.Id">Delete</a>
            </td>
        </tr>
    }
</table>
